﻿@model TripOrganization.Models.TripInformation
@{
    ViewBag.Title = "ConfirmTrip";
}

<h2>Potwierdzenie</h2>

@using (Ajax.BeginForm("ShowTips", "Home", new AjaxOptions { UpdateTargetId = "tipsResult" }))
{
    @Html.Hidden("transParam", Model.TransportationType)
    @Html.Hidden("priceParam", Model.TripCost.ToString())
    <input type="submit" value="Wyświetl podpowiedź"  class="ui inverted green button"/>
}

<br>
<div id="tipsResult"></div>
<br>
@if (TempData["Message"] != null)
{<div>@Html.Label(TempData["Message"].ToString(), new { @class = "ui grey label" })</div>
}
<br>
@using (Html.BeginForm("ConfirmTripSave","Home"))
{
    @Html.Label("Miejsce wycieczki: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.PlaceTrip)
    @Html.HiddenFor(x => x.PlaceTrip)
    <br>
    @Html.Label("Data przybycia: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.DateFrom)
    @Html.HiddenFor(x => x.DateFrom)
    <br>
    @Html.Label("Data wyjazdu: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.DateTo)
    @Html.HiddenFor(x => x.DateTo)
    <br>
    @Html.Label("Opis dodatkowy: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.Description)
    @Html.HiddenFor(x => x.Description)
    <br>
    @Html.Label("Kilometry: ", new { @class = "ui blue tag label" })
    @Html.Label(String.Format("{0}km",Model.Kilometers))
    @Html.HiddenFor(x => x.Kilometers)
    <br>
    @Html.Label("Uczestników wycieczki: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.PeopleCount)
    @Html.HiddenFor(x => x.PeopleCount)
    <br>
    @Html.Label("Osoba rezerwująca: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.PersonReservation)
    @Html.HiddenFor(x => x.PersonReservation)
    <br>
    @Html.Label("Typ transportu: ", new { @class = "ui blue tag label" })
    switch (Model.TransportationType)
    {
        case "1":
            @Html.Label("Samochód")
            break;
        case "2":
            @Html.Label("Pociąg")
            break;
        case "3":
            @Html.Label("Samolot")
            break;
        case "4":
            @Html.Label("Rower")
            break;
        case "5":
            @Html.Label("Autobus")
            break;
    }
    @Html.HiddenFor(x => x.TransportationType)
    <br>
    @Html.Label("Telefon kontaktowy: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.Telephone)
    @Html.HiddenFor(x => x.Telephone)
    <br>
    @Html.Label("Czas podróży w dwie strony: ", new { @class = "ui blue tag label" })
    @Html.Label(String.Format("{0}h",Model.TravelHour.ToString()))
    @Html.HiddenFor(x => x.TravelHour)
    <br>
    @Html.Label("Koszt podróży w dwie strony: ", new { @class = "ui blue tag label" })
    @Html.Label(Model.TripCost)
    @Html.HiddenFor(x=>x.TripCost)
    <br>

    <input type="submit" value="Wszystko się zgadza - potwierdzam"   class="ui inverted green button"/>
}

