﻿@model TripOrganization.Models.TripInformation
@{
    ViewBag.Title = "CreateTrip";
}

@{
    List<SelectListItem> tripTypeList = new List<SelectListItem>()
    {
        new SelectListItem(){Value="1",Text="Samochód" },
        new SelectListItem(){ Value="2",Text="Pociąg"},
        new SelectListItem(){ Value="3",Text="Samolot"},
        new SelectListItem(){ Value="4",Text="Rower"},
        new SelectListItem(){ Value="5",Text="Autobus"}
    };
}
<h2>Wprowadź informacje</h2>

@TempData["Message"]

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Label("Miejsce wycieczki: ", new { @class= "ui blue tag label" })
    @Html.TextBoxFor(x=>x.PlaceTrip)
    @Html.ValidationMessageFor(x=>x.PlaceTrip)
    <br>
    @Html.Label("Data planowanego przybycia:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x=>x.DateFrom, new { @id = "datepicker"})
    @Html.ValidationMessageFor(x => x.DateFrom)
    <br>
    @Html.Label("Data planowanego wyjazdu:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x=>x.DateTo, new { @id = "datepicker"})
    @Html.ValidationMessageFor(x => x.DateTo)
    <br>
    @Html.Label("Liczba uczestników:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x=>x.PeopleCount)
    @Html.ValidationMessageFor(x => x.PeopleCount)
    <br>
    @Html.Label("Wybierz typ transportu:", new { @class = "ui blue tag label" })
    @Html.DropDownListFor(x=>x.TransportationType, tripTypeList)
    @Html.ValidationMessageFor(x => x.TransportationType)
    <br>
    @Html.Label("Wypisz długość trasy(km) do miejsca wypoczynku:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x=>x.Kilometers)
    @Html.ValidationMessageFor(x => x.Kilometers)
    <br>
    @Html.Label("Dodatkowe informacje:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x=>x.Description)
    @Html.ValidationMessageFor(x=>x.Description)
    <br>
    @Html.Label("Osoba rezerwująca:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x=>x.PersonReservation)
    @Html.ValidationMessageFor(x=>x.PersonReservation)
    <br>
    @Html.Label("Numer kontaktowy:", new { @class = "ui blue tag label" })
    @Html.TextBoxFor(x => x.Telephone)
    @Html.ValidationMessageFor(x=>x.Telephone)
    <br>
    <input type="submit" value= "Rezerwuj" class="ui inverted green button"/>
}

